# VS Code
.vscode/

# Backend - Maven
backend/target/

# Frontend - Next.js / Node
frontend/node_modules/
frontend/.next/
frontend/out/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log